<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url={{ page.url | redirectPortalToDashboard }}">
  <title>Redirecting...</title>
  <script>
    window.location.href = "{{ page.url | redirectPortalToDashboard | replace('<meta http-equiv="refresh" content="0;url=', '') | replace('">', '') }}";
  </script>
</head>
<body>
  <p>Redirecting to the new location... If you are not redirected automatically, please <a href="{{ page.url | redirectPortalToDashboard | replace('<meta http-equiv="refresh" content="0;url=', '') | replace('">', '') }}">click here</a>.</p>
</body>
</html>
